<div class="container flex-column align-items-center">
    <h1 class="display-4 d-flex justify-content-center">New game</h1>
    <h4 class="mb-3 d-flex justify-content-center">Here is your grid:</h4>
    <div class="d-flex justify-content-center px-3 d-block">
      <% @letters.each do |letter|%>
      <h2 class="px-2 bg-info mx-2 border border-secondary text-white"><%= letter %></h2>
      <% end%>
    </div>
</div>
<div class="container mt-5 d-flex justify-content-center">
  <form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
    <label for="word">What is your longest word you can find?</label>
    <input type="text" name="word" value='<%= params[:word] %>'>
    <button type='submit' class="btn btn-outline-info">Play</button>
  </form>
</div>
